@model ProjtModel.Models.UsuarioViewModel

@{
    ViewData["Title"] = "ExibirUsuarioView";
}

<h1>Exibir Usuario View</h1>

<p> <strong>Id Usúario:</strong> @Model.IdUsuario </p>

<p> <strong>Nome:</strong> @Model.Nome </p>

<p> <img src="@Model.FotoUsuario"/> </p>



