@model ProjtModel.Models.PessoaViewModel;

@{
    ViewData["Title"] = "ExibirPessoaView";
}

<h1> Pessoa </h1>
<br/>

<p> <strong>ID Pessoa:</strong> @Model.IdPessoa </p>
<p> <strong>Nome:</strong> @Model.Nome </p>
<p> <strong>E-mail:</strong> @Model.Email </p>
<p> <strong>Departamento:</strong> @Model.Departamento </p>



